.itemOverview {
  @media screen and (max-width: 600px) {
    margin-left: 80px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

.techwear {
  color: #3b82f6;
}

#product-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

@media screen and (max-width: 600px) {
  #product-cards {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 850px) {
  #product-cards {
    grid-template-columns: repeat(2, 1fr);
  }

}

.rounded {
  border-radius: 13%;
}

#navbar ul li a.active {
  color: #60a5fa;
}